<!DOCTYPE html>
<html lang="en">

<head>
  <title>Nuri - Page not found</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap" rel="stylesheet">
</head>

<body style="display: flex; height: 100vh; width: 100vw; font-family: Inter; padding: 0; margin: 0;">
<div style="display: flex; flex: 1; align-items: center; justify-content: center; flex-direction: column;">
  <img src="https://i.ibb.co/c81Jq7r/nuri-logos.png" />
  <p style="color: #959196; font-size: 72px; font-weight: 100;">Page not found</p>
</div>
</body>

</html>